<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webkul\SellerSubAccount\Helper\Data" type="Bdollarapps\ClaueCustomizer\Helper\SellerSubAccount\Data" />
</config>
