<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="webforms_result_submit">
        <observer name="Bdollarapps_MagemeForms_Observer_ResultSubmit" instance="Bdollarapps\MagemeForms\Observer\ResultSubmit" />
    </event>
</config>